name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build
        env:
          CGO_ENABLED: 1
        run: |
          mkdir -p dist
          cd ntkpr

          if [[ "$RUNNER_OS" == "macOS" ]]; then
            GOOS=darwin GOARCH=arm64 go build -o ../dist/ntkpr_darwin_arm64 .
            GOOS=darwin GOARCH=amd64 go build -o ../dist/ntkpr_darwin_amd64 .
          elif [[ "$RUNNER_OS" == "Linux" ]]; then
            GOOS=linux GOARCH=amd64 go build -o ../dist/ntkpr_linux_amd64 .
          fi

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
