name: Release

on:
  push:
    tags:
      - "v0.2.*"

permissions:
  contents: write

jobs:
  release:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            id: linux
          - os: macos-latest
            id: darwin

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Release
        uses: goreleaser/goreleaser-action@v5
        with:
          version: "~> v2"
          args: release --clean --id=${{ matrix.id }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
